#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 330px;
    height: 100vh;
    background-color: var(--black200);
    box-shadow: 0 0 10px var(--white200);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
        padding: 2rem 2rem 1rem 1rem;

        a {
            font-size: 30px;
            font-weight: 900;
            color: var(--pointColor);
        }

    }

    h2 {
        font-family: var(--fontJ);
        font-size: 20px;
        font-weight: 900;
        color: var(--white200);
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 2rem 2rem 1rem 1rem;
    }

    ul {
        width: 100%;
        overflow-y: auto;
        min-height: 296px;
        &.list_ul {
            height: 100%;
        }
        li {
            color: var(--white400);
            font-weight: 400;
            font-size: 18px;
            cursor: pointer;
            padding: 16px 0;
            border-left: 5px solid transparent;
            font-weight: 900;
            transition: all 0.3s ease;

            a {
                display: block;
            }
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 10px;
                gap: 10px;
                input {
                    border: 1px solid var(--pointColor);
                    border-radius: 4px;
                    padding: 5px;
                }
                button {
                    padding: 6px 10px;
                    background-color: var(--pointColor);
                    color: var(--white);
                    border-radius: 6px;
                }
            }
            .icon {
                width: 20px;
                height: 20px;
                background-size: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 14px;
                vertical-align: -4px;
                border-radius: 3px;
                margin-left: 20px;
            }
            select {
                width: fit-content;
                height: auto;
                border: 1px solid var(--pointColor);
                border-radius: 4px;
                padding: 5px;
            }

            &:nth-child(1) .icon {
                background-image: url(../img/icon-melon.jpg);
            }

            &:nth-child(2) .icon {
                background-image: url(../img/icon-bugs.jpg);
            }

            &:nth-child(3) .icon {
                background-image: url(../img/icon-apple.jpg);
            }

            &:nth-child(4) .icon {
                background-image: url(../img/icon-genie.jpg);
            }

            &:nth-child(5) .icon {
                background-image: url(../img/icon-bill.jpg);
            }

            &:hover {
                background-color: var(--pointColor);
            }

            &.active {
                border-left: 5px solid #7D57FF;
                background-color: #f5f5ff;
            }

            .icon2 {
                margin-left: 20px;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 14px;

                svg {
                    vertical-align: -5px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .head_contextmenu {
        width: 130px;
        height: fit-content;
        max-height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 6px;
        li {
            width: 100%;
            padding: 6px 10px;
            background-color: var(--black200);
        }
    }
}