#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--white200);

    h1 {
        padding: 2rem 2rem 1rem 2rem;

        a {
            font-size: 30px;
            font-weight: 900;
            color: #7D57FF;
        }

    }

    h2 {
        font-family: var(--fontJ);
        font-size: 12px;
        font-weight: 900;
        color: var(--white400);
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 2rem 2rem 1rem 2rem;
    }

    ul {
        max-height: calc(50% - 120px);
        overflow-y: auto;
        li {
            color: var(--black500);
            font-weight: 400;
            font-size: 20px;
            cursor: pointer;
            padding: 16px 0;
            border-left: 5px solid transparent;
            font-weight: 900;

            a {
                display: block;
            }

            .icon {
                width: 20px;
                height: 20px;
                background-size: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 14px;
                vertical-align: -4px;
                border-radius: 3px;
                margin-left: 20px;
            }

            &:nth-child(1) .icon {
                background-image: url(../img/icon-melon.jpg);
            }

            &:nth-child(2) .icon {
                background-image: url(../img/icon-bugs.jpg);
            }

            &:nth-child(3) .icon {
                background-image: url(../img/icon-apple.jpg);
            }

            &:nth-child(4) .icon {
                background-image: url(../img/icon-genie.jpg);
            }

            &:nth-child(5) .icon {
                background-image: url(../img/icon-bill.jpg);
            }

            &:hover {
                background-color: #f5f5ff;
            }

            &.active {
                border-left: 5px solid #7D57FF;
                background-color: #f5f5ff;
            }

            .icon2 {
                margin-left: 20px;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 14px;

                svg {
                    vertical-align: -5px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}