.search {
    position: relative;
    padding: 2rem;

    label {
        position: absolute;
        left: 53px;
        top: 45px;
    }

    input {
        width: 100%;
        padding: 1rem;
        border-radius: 50px;
        padding-left: 50px;
        font-family: var(--fontJ);
        font-weight: 300;
    }
}